*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #0c8097;
	color: #000;
    background-image:url(/images/snow03.gif);
}

h1{
    font-family:'Times New Roman';
    font-style:oblique;
    font-size:75px;
    color:white;
}
h3 {
	font-family:"Times New Roman";
	font-style:oblique;
	border:solid;
	background-color:black;
}




  
  
